# Data Collection for Cocktails

In [16]:
import requests
from bs4 import BeautifulSoup
from pprint import pprint
import pandas as pd
import time

In [17]:
# try both to decide which to use 
url = "https://api.pushshift.io/reddit/search/submission"

In [18]:
# this is for comments - will be using this one
url_comments = "https://api.pushshift.io/reddit/search/comment"

In [19]:
params = {
    'subreddit' : 'cocktails', 
    'size' : '500'
#     'before':
}

In [20]:
# for submissions
res = requests.get(url, params)
res.status_code

200

In [21]:
# for comments
res_c = requests.get(url_comments, params)
res_c.status_code

200

In [22]:
data = res.json()

In [23]:
# per Riley Davis video on starting Project 3 

post_drinks = data['data']

In [24]:
df = pd.DataFrame(post_drinks)
df.head()

,all_awardings,allow_live_comments,author,author_flair_css_class,author_flair_richtext,author_flair_text,author_flair_type,author_fullname,author_patreon_flair,author_premium,...,poll_data,media,media_embed,secure_media,secure_media_embed,crosspost_parent,crosspost_parent_list,distinguished,author_cakeday,media_metadata
0,[],False,rkelly74,None,[],None,text,t2_d8jgy,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[],False,WaronTerah,None,[],None,text,t2_byiqdo,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,[],False,hoolagenn,None,[],None,text,t2_wscm6,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,[],False,Irish_sidhe,None,[],None,text,t2_67jufvyj,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[],False,gie-gie,None,[],None,text,t2_9ysen,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# Modified from Tim Book office hours

def get_comments(subreddit, n_iter):
    
    df_list = []
    current_time = 1587245505
    
    for _ in range(n_iter):
        res = requests.get(
            url_comments,
            params={
                "subreddit": subreddit,
                "size": 500,
                "before": current_time
            }
        )
        time.sleep(3)
        df = pd.DataFrame(res.json()['data'])
        df = df.loc[:, ["subreddit", "body", "created_utc"]]
        df_list.append(df)
        current_time = df.created_utc.min()
        
    return pd.concat(df_list, axis=0)

In [26]:
df_comments_cocktails = get_comments('cocktails', 100)

In [27]:
df_comments_cocktails[df_comments_cocktails['body'].duplicated() == False]

# have 50,000 documents 
# the comments form cocktails have 48,527 unique values

     subreddit                                               body  created_utc
0    cocktails  Mine didnâ€™t pop up, but it came away from the ...   1587245474
1    cocktails                                         Yes it is.   1587245372
2    cocktails  Are you still able to discern the Bombay Sapph...   1587245319
3    cocktails  Damn, just ran out of gin and curacao. I'm gue...   1587245240
4    cocktails  Jesus... you have a bottle of Blanton's and yo...   1587245204
..         ...                                                ...          ...
495  cocktails       14.7%, Tiburon coconut &amp; tropical fruit.   1575062343
496  cocktails  Marie Brizard makes a very nice [peppermint li...   1575062011
497  cocktails  It is kind of interesting that the first publi...   1575061963
498  cocktails  I did but they didn't stay in place as we have...   1575061821
499  cocktails  Ah, is really as much as you want. Probably 2o...   1575061146

[48527 rows x 3 columns]

In [28]:
df_comments_cocktails.shape

(50000, 3)

In [29]:
print('min', df_comments_cocktails['created_utc'].min())
# Friday, November 29, 2019 8:59:06 PM

print('max', df_comments_cocktails['created_utc'].max())
# Saturday, April 18, 2020 9:31:14 PM

print('time range', '140 days, 23 hours, 32 minutes and 38 seconds')

min 1575061146
max 1587245474
time range 140 days, 23 hours, 32 minutes and 38 seconds

In [33]:
# for data used for 50K comments pulled 
# commented out so I don't accidently override 

# df_comments_cocktails.to_csv('../data/cocktails_50comments.csv', index = False)

In [31]:
# # for 20K 
# print('min', df_comments_cocktails['created_utc'].min())
# # March 3, 2020 1:48:17 PM

# print('max', df_comments_cocktails['created_utc'].max())
# # Saturday, April 18, 2020 9:31:14 PM

# print('time range', '46 days, 6 hours, 43 minutes')

In [32]:
# for data used for 20K comments pulled 
# commented out so I don't accidently override 

# df_comments_cocktails.to_csv('../data/cocktails_comments.csv')